.gallery {
    width: 320px;
    height: 426px;
    overflow: hidden;
    margin: 0 auto;

    img {
        width: 320px;
        height: 426px;
    }

    .galleryButtons {
        position: absolute;

        width: 320px;
        height: 426px;

        button {
            width: 50%;
            height: 426px;
            background: transparent;
            border: none;
        }
    }
}