$book: Gotham-Book;
$medium: Gotham-Medium;
$bold: Gotham-Bold;
$italic: Gotham-Medium-Italic;

a, u {
    color: white;
}

.content {

    width: 415px;
    height: 425px;
    padding: 24px 0;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.content-heading {

    text-align: left;

    a {
        font-family: $book;
        font-size: 36px;
    }
}

.content-description {

    display: flex;
    flex-direction: column;

    a {
        font-family: $book;
        font-size: 16px;
        text-align: left;
    }
}

.content-price {

    text-align: left;

    a {
        font-family: $medium;
        font-size: 32px;
    }
}

.content-sizetable {

    display: flex;
    text-align: left;
    gap: 10px;

    a {
        font-family: $book;
        font-size: 16px;
    }

    u {
        font-family: $book;
        font-size: 16px;
    }
}

@media (max-width: 1200px) {

    .content {

        // border: 1px solid gold;

        width: 320px;
        height: 425px;
        padding: 24px 0;
        margin: 0 auto;
    
    }
    
    .content-heading {
    
        a {
            font-family: $book;
            font-size: 28px;
        }
    }
    
    .content-description {
    
        a {
            font-size: 13px;
        }
    }
    
    .content-price {
    
    
        a {
            font-size: 28px;
        }
    }
    
    .content-sizetable {
    
        gap: 10px;
    
        a {
            font-size: 14px;
        }
    
        u {
            font-size: 14px;
        }
    }
}