@font-face {
    font-family: Gotham-Book;
    src: url('../../media/fonts/Gotham/gotham_book.otf');
}
@font-face {
    font-family: Gotham-Medium;
    src: url('../../media/fonts/Gotham/gotham_medium.otf');
}
@font-face {
    font-family: Gotham-Bold;
    src: url('../../media/fonts/Gotham/gotham_bold.otf');
}
@font-face {
    font-family: Gotham-Medium-Italic;
    src: url('../../media/fonts/Gotham/gotham_mediumitalic.otf');
}
